$icon-font-path: '../fonts/';

@import "common/webfonts";
@import "common/override";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "common/variables";
@import "common/global";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/home";



