.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Space out content a bit */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	color: $font-default-color;
	position:relative;

	::selection,::-moz-selection {
		background:rgba(0,0,0,0.05);
		color:inherit;
	}
	a:focus{
		outline: none;
	}

	&:after{
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,1);
		position: fixed;

		@include animation(
			page-out 0.25s 1 linear forwards 1s
		);
	}

}

html{
	min-width: 320px;
	.container{
		min-width: 320px;
	}
	&.ie,&.firefox.windows{
		body{
			// font-family: $font-family-serif;
		}
	}

	@media screen and (max-width: 768px) {		
		max-width: 100vw;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
}

/* Custom page footer */
.footer {
}

.page{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;

	.background{
		width: 100%;
		>img{
			width: 100%;
		}
	}
	a{
		text-decoration: none;
	}

	@include animation(
		page-out 0.5s 1 linear forwards
	);
	&.in{
		@include animation(
			page-in 0.5s 1 linear forwards
		);
	}
	&.init{
		@include animation(
			page-in 0s 1 linear forwards
		);
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
	}

	/* Remove the padding we set earlier */
	.header,
	.footer {
	}

	/* Space out the masthead */
	.header {
	}

}


@include keyframes( page-out )
{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}


@include keyframes( page-in )
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}