@font-face { 
	font-family: 'msjh-arial'; 
	src:  local("Lantinghei")
		, local('Noto Sans TC')
		, local('微軟正黑體')
		, local("STHeiti")
		, local("メイリオ")
		, local("Meiryo")
		, local("ヒラギノ角ゴ Pro w3")
		, local("Hiragino Kaku Gothic Pro")
		, local("Osaka")
		, local("STXihei")
		, local("HEITI TC")
		, local("黑體-繁")
		, local("黑體");
}
@font-face {
	font-family: 'msjh-arial';
	src: local('Arial')
		, local("Segoe UI")
		, local("Verdana")
		, local("ＭＳ Ｐゴシック")
		, local("MS P Gothic")
		, local("Helvetica Neue")
		, local("Helvetica")
		, local("sans-serif");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+00-024F;
}


//** Background color for `<body>`.
$body-bg:               #000 !default;
//** Global text color on `<body>`.
$text-color:            #000;

//** Global textual link color.
$link-color:            #000;
//** Link hover color set via `darken()` function.
$link-hover-color:      #000;
//** Link hover decoration.
$link-hover-decoration: underline;

$screen-xs-num:              480;
$screen-xs:                  #{$screen-xs-num}px;
$screen-sm-num:              769;
$screen-sm:                  #{$screen-sm-num}px;
$screen-md-num:              1080;
$screen-md:                  #{$screen-md-num}px;
$screen-lg-num:              1280;
$screen-lg:                  #{$screen-lg-num}px;


$font-family-sans-serif:  'Noto Sans TC', 'microsoft jhenghei', '微軟正黑體', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif:       'Arial', 'Verdana', 'Lantinghei','Noto Sans TC', 'microsoft jhenghei', '微軟正黑體', 'Segoe UI';
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-size-base-num:      14;
$font-size-base:          14px;
$font-size-large:         18px; // ~18px
$font-size-small:         12px;// ~12px
$font-size-h1:            percentage(36/$font-size-base-num); // ~36px
$font-size-h2:            percentage(30/$font-size-base-num); // ~30px
$font-size-h3:            percentage(24/$font-size-base-num); // ~24px
$font-size-h4:            percentage(18/$font-size-base-num); // ~18px
$font-size-h5:            100%;
$font-size-h6:            percentage(12/$font-size-base-num); // ~12px