@function vwsm($pixels, $context: $screen-sm-num) {
  @return #{$pixels/$context*100}vw;
}

@function vwxs($pixels, $context: $screen-xs-num) {
  @return #{$pixels/$context*100}vw;
}

@function vwlg($pixels, $context: $screen-lg-num) {
  @return #{$pixels/$context*100}vw;
}

@for $i from 6 to 150 {
	.fontsize-#{$i} {
		font-size: #{$i}px;
		font-size: percentage($i/$font-size-base-num);
	}
	.fontsize-sm-#{$i} {
		@media screen and (max-width: 768px) {
			font-size: #{$i}px;
			font-size: percentage($i/$font-size-base-num);
			font-size: vwsm($i);
		}
	}
}

@mixin xsSubItem() {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;	
}

@mixin xsItem($width, $height, $top, $bottom, $left, $right, $context: $browser-xs-viewport) {
	margin: 0;
	width: xsp($width);
	height: 0;
	position: absolute;
	padding-top: xsp($height);

	@if($left > 0) {
		margin-left: xsp($left);
		left: 0;
		right: 0;
		margin-right: xsp($right);
		z-index: 2;
	}@else{
		right: 0;
		left: auto;
		margin-right: xsp($right);
		z-index: 1;
	}
	@if($top > 0) {
		top: 0;
		bottom: 0;
		margin-top: xsp($top);
		margin-bottom: xsp($bottom);
	}@else{
		bottom: 0;
		top: auto;
		margin-bottom: xsp($bottom);
	}
}
.vertical-top{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: top;
	}
	>*{
		display: inline-block;
		vertical-align: top;
	}
}

.vertical-middle{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		display: inline-block;
		vertical-align: middle;
	}
}
.vertical-bottom{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: bottom;
	}
	>*{
		display: inline-block;
		vertical-align: bottom;
	}
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

$font-default-color: #000;
$font-default-hover-color: #333;
$font-white-color: #fff;