@function vwsm($pixels, $context: $screen-sm-num) {
  @return #{$pixels/$context*100}vw;
}

@function vwxs($pixels, $context: $screen-xs-num) {
  @return #{$pixels/$context*100}vw;
}
@function vwxs($pixels, $context: $screen-md-num) {
  @return #{$pixels/$context*100}vw;
}

@function vwlg($pixels, $context: $screen-lg-num) {
  @return #{$pixels/$context*100}vw;
}

@function vw3840($pixels, $context: 3840) {
  @return #{$pixels/$context*100}vw;
}


@for $i from 6 to 150 {
	.fontsize-#{$i} {
		font-size: #{$i}px;
		font-size: percentage($i/$font-size-base-num);
	}
	.fontsize-md-#{$i} {
		@media screen and (max-width: #{$screen-md-num}px) {
			font-size: #{$i}px;
			font-size: percentage($i/$font-size-base-num);
		}
	}
}

@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName}  {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin SubItem() {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;	
}

@function lp($pixels, $context: 1280){
	@return percentage($pixels/$context);
}

@mixin Item($width, $height, $top, $bottom, $left, $right, $context: 1280) {
	margin: 0;
	width: lp($width, $context);
	height: 0;
	position: absolute;
	padding-top: lp($height, $context);

	@if($left != 0) {
		margin-left: lp($left, $context);
		left: 0;
		right: 0;
		margin-right: lp($right, $context);
		z-index: 2;
	}@else{
		right: 0;
		left: auto;
		margin-right: lp($right, $context);
		z-index: 1;
	}
	@if($top != 0) {
		top: 0;
		bottom: 0;
		margin-top: lp($top, $context);
		margin-bottom: lp($bottom, $context);
	}@else{
		bottom: 0;
		top: auto;
		margin-bottom: lp($bottom, $context);
	}
}
.vertical-top{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: top;
	}
	>*{
		display: inline-block;
		vertical-align: top;
	}
}

.vertical-middle{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		display: inline-block;
		vertical-align: middle;
	}
}
.vertical-bottom{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: bottom;
	}
	>*{
		display: inline-block;
		vertical-align: bottom;
	}
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

$font-default-color: #000;
$font-default-hover-color: #333;
$font-white-color: #fff;