#step9{
	color: #00631a;

	.word{
		@include Item(1280, 86, 125, 0, 1, 0, 1280);
		font-weight: 300;

		span{
			@include SubItem();
		}
		aside{
			position: relative;
			color: #636363;
			line-height: 1.8em;
			span{
				color: #00631a;
				width: percentage(175/1280);
				display: inline-block;
				position: relative;
			}
		}
	}
	.alert{
		@include SubItem();
		position:fixed;
		z-index: 10;
		background: url(../img/alert.jpg) center/ lp(484) auto no-repeat rgba(0,0,0,0.7);
		@include animation(
			page-out 0.5s 1 linear forwards
		);
		p{
			@include SubItem();
			color: #535353;
		}
		.ok{
			@include Item(142, 61, 167, 0, 566, 0);
			margin-top: calc(50vh + #{lp(167-40)});
			color: #00631a;
			span{
				@include SubItem();
				color: #00631a;
				border: 3px solid #00631a;
			}
			&:hover{
				span{
					color: #fff;
					background: #00631a;
					transition-duration: 0.25s;
				}
			}
		}
		.dismiss{
			@include Item(59, 60, -163, 0, 800, 0);
			margin-top: calc(50vh + #{lp(-163-40)});
			img{
				@include SubItem();
			}
		}

		&.in{

			@include animation(
				page-in 0.5s 1 linear forwards
			);
		}
	}
}