#step8{
	color: #00631a;

	.word{
		@include Item(1280, 86, 219, 0, 1, 0, 1280);
		font-weight: 300;

		span{
			@include SubItem();
		}
	}

	.load{
		@include Item(353, 348, 340, 0, 465, 0, 1280);
		img{
			@include SubItem();
		}
	}
}