#step3{
	.field{
		@include Item(776, 64, 300, 0, 249, 0);
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(630, 119, 577, 0, 227, 0, 1080);
		}
		input{
			@include SubItem();
			background: none;
			border: 0;
			font-family:Arial;
			color: #7d7d7d;
			text-align: left;
			padding: 0 0.5em;
			letter-spacing: vw3840(4);
		}
	}
	.keypad{
		.key{
			font-weight: 300;
			color: #00631a;
			span, img{
				@include SubItem();
				&.hover{
					opacity: 0;
				}
			}
			span{
				border-radius: 50%;
				border: 3px solid #00631a;
				line-height: 130%;
			}

			&:hover{
				span{
					color: #fff;
					background: #00631a;
					transition-duration: 0.25s;
				}
				.hover{
					opacity: 1;
					transition-duration: 0.25s;
				}
			}
			@include Item(110, 110, 387, 0, 240, 0);
			@media screen and (max-width: #{$screen-md-num}px) {
				@include Item(181, 181, 752, 0, 227, 0, 1080);
			}

			&.key2{
				@include Item(110, 110, 387, 0, 376, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 752, 0, 451, 0, 1080);
				}
			}
			&.key3{
				@include Item(110, 110, 387, 0, 513, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 752, 0, 675, 0, 1080);
				}
			}
			&.key4{
				@include Item(110, 110, 387, 0, 649, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 954, 0, 227, 0, 1080);
				}
			}
			&.key5{
				@include Item(110, 110, 387, 0, 786, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 954, 0, 451, 0, 1080);
				}
			}
			&.key6{
				@include Item(110, 110, 516, 0, 240, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 954, 0, 675, 0, 1080);
				}
			}
			&.key7{
				@include Item(110, 110, 516, 0, 376, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1157, 0, 227, 0, 1080);
				}
			}
			&.key8{
				@include Item(110, 110, 516, 0, 513, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1157, 0, 451, 0, 1080);
				}
			}
			&.key9{
				@include Item(110, 110, 516, 0, 649, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1157, 0, 675, 0, 1080);
				}
			}
			&.key0{
				@include Item(110, 110, 516, 0, 786, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1361, 0, 451, 0, 1080);
				}
			}
			&.keyx{
				@include Item(110, 110, 387, 0, 922, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1361, 0, 227, 0, 1080);
				}
			}
			&.submit{
				@include Item(110, 110, 516, 0, 922, 0);
				@media screen and (max-width: #{$screen-md-num}px) {
					@include Item(181, 181, 1361, 0, 675, 0, 1080);
				}
			}
		}
	}

	.alert{
		@include SubItem();
		position:fixed;
		z-index: 10;
		background: url(../img/alert.jpg) center/ lp(484) auto no-repeat rgba(0,0,0,0.7);
		@media screen and (max-width: #{$screen-md-num}px) {			
			background: url(../img/alert@32.jpg) center/ lp(801, 1080) auto no-repeat rgba(0,0,0,0.7);
		}
		@include animation(
			page-out 0.5s 1 linear forwards
		);
		p{
			@include SubItem();
			color: #535353;
		}
		.ok{
			@include Item(142, 61, 167, 0, 566, 0);
			margin-top: calc(50vh + #{lp(167-40)});
			@media screen and (max-width: #{$screen-md-num}px) {
				@include Item(250, 100, 15, 0, 420, 0, 1080);
				margin-top: calc(50vh + #{lp(150, 1080)});
			}
			color: #00631a;
			span{
				@include SubItem();
				color: #00631a;
				border: 3px solid #00631a;
			}
			&:hover{
				span{
					color: #fff;
					background: #00631a;
					transition-duration: 0.25s;
				}
			}
		}
		.dismiss{
			@include Item(59, 60, -163, 0, 800, 0);
			margin-top: calc(50vh + #{lp(-163-40)});
			@media screen and (max-width: #{$screen-md-num}px) {
				@include Item(98, 98, -163, 0, 800, 0, 1080);
				margin-top: calc(50vh + #{lp(-260, 1080)});
			}
			img{
				@include SubItem();
			}
		}

		&.in{

			@include animation(
				page-in 0.5s 1 linear forwards
			);
		}
	}
}