#step5{
	.terms{
		@include Item(3407, 1642, 771, 0, 214, 0);

		article{
			@include SubItem();
			-webkit-overflow-scrolling: touch;
			overflow: auto;
			padding: lp(130) lp(100);
			aside{
				color: #b89d5b;
				line-height: 1.8em;
				height: auto;
				font-weight: 300;
				font-size: vw3840(58);
			}
		}
		-webkit-overflow-scrolling: touch;
	}

	.agree{
		@include Item(296, 275, 354, 0, 578, 0);
	}
	.disagree{
		@include Item(296, 275, 354, 0, 2149, 0);
	}
	.agree, .disagree{
		figure{
			@include SubItem();
			background: url(../img/unchecked.png) 0 0/ auto 100% no-repeat;
			&:after{
				background-image: url(../img/checked.png);
			}
		}
		&.checked{
			figure{
				background-image: url(../img/checked.png);
			}
		}
	}
	.mCSB_dragger_bar{
		background: rgba(0,0,0,0.75);
	}
	.mCSB_1_scrollbar{
		// transform: scale(0.9);
	}
}