#step5{
	.terms{
		@include Item(3400, 1520, 550, 0, 224, 0);

		article{
			@include SubItem();
			padding: lp(130) lp(100);
			color: #b89d5b;
			line-height: 1.8em;
			height: auto;
			font-weight: 300;
			font-size: vw3840(58);
			-webkit-overflow-scrolling: touch;
		}
	}

	.agree{
		@include Item(296, 275, 2173, 0, 942, 0);
	}
	.disagree{
		@include Item(296, 275, 2173, 0, 2082, 0);
	}
	.agree, .disagree{
		figure{
			@include SubItem();
			background: url(../img/unchecked.png) 0 0/ auto 100% no-repeat;
			&:after{
				background-image: url(../img/checked.png);
			}
		}
		&.checked{
			figure{
				background-image: url(../img/checked.png);
			}
		}
	}
	.nicescroll-cursors{
		border: 0!important;
	}

	.countdown{
		@include SubItem();
		z-index: 10;
		background: url(../img/countdown.jpg) center/ lp(1470) auto no-repeat rgba(0,0,0,0.7);

		@include animation(
			page-out 0.5s 1 linear forwards
		);

		.ok{
			@include Item(386, 183, 1675, 0, 1740, 0);
			margin-top: calc(50vh + #{lp(395)});
		}
		.dismiss{
			@include Item(180, 180, 1675, 0, 2428, 0);
			margin-top: calc(50vh + #{lp(-633)});
		}
		.secs{
			@include Item(365, 225, 1250, 0, 1734, 0);
			margin-top: calc(50vh + #{lp(0)});
			font-size: vw3840(318);
			color: #6d5a33;
			line-height: 1em;
			font-weight: 700;
			text-align: center;

			span{
				@include SubItem();
			}
		}

		&.in{

			@include animation(
				page-in 0.5s 1 linear forwards
			);
		}
	}
}