#step4{
	.gohome{
		@include Item(1088, 203, 2179, 0, 2766, 0);
	}
	.name{
		@include Item(1500, 203, 865, 0, 1300, 0);
		color: #b89d5b;
		font-weight: 300;
		font-size: vw3840(125);
		text-align: justify;
		letter-spacing: vw3840(30);
		line-height: 1em;
		span{
			@include SubItem();
		}
	}
}