#step4{
	.gohome{
		@include Item(94, 94, 665, 0, 43, 0);
		img{
			@include SubItem();
			&.hover{
				opacity: 0;
				transition-duration: 0.25s;
			}
		}
		&:hover{
			.hover{
				opacity: 1;
			}
		}
	}
	.word{
		@include SubItem();
		color: #00631a;
		font-weight: 300;
	}
}