#step2{
	h3{
		color: #00631a;
		font-weight: 300;
		@include Item(1280, 0, 210, 0, 1, 0);
		span{
			@include SubItem();
		}
	}
	.s1{
		@include Item(200, 100, 413, 0, 197, 0);
		span{
			@include SubItem();
			font-weight: 300;
		}
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(300, 200, 682, 0, 227, 0, 1080);
		}
	}

	.s2{
		@include Item(200, 100, 413, 0, 681, 0);
		span{
			@include SubItem();
			font-weight: 300;
		}
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(300, 200, 1192, 0, 227, 0, 1080);
		}
	}

	.idonthave{
		@include Item(359, 67, 693, 0, 879, 0);
		color: #00631a;
		border: 3px solid #006319;
		cursor: pointer;

		span{
			@include SubItem();
			height: 110%;
			font-weight: 300;
		}
		&:hover{
			transition-duration: 0.25s;
			color: #fff;
			background: #08651c;
		}
		@media screen and (max-width: #{$screen-md-num}px) {
			@include Item(544, 102, 1771, 0, 481, 0, 1080);
		}
	}
}